@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'normalize';
@import 'variables';
@import 'animations';

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-header-text {
    display: none;
}