<mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row>
        <div id="logo">
            <svg version="1.1" baseProfile="tiny" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 543.2 577.8"
                xml:space="preserve">
            <path d="M200.1,381.1c1.7-11.2,2.7-22.2,4.9-32.9c5.2-24.7,16.8-46.2,35.8-62.7c12.1-10.4,27.4-14.3,43.3-14.3
                c29.9,0.1,53.9,13.6,73.4,35.2c8.4,9.3,15.1,20.2,22.5,30.5c1.3,1.7,2.2,3.6,3.5,5.7c3.4-3.2,6.5-6.2,9.6-9.2
                c24.7-23.3,54.2-16.8,72.6-4.4c15.9,10.8,26.2,25.8,32.7,43.6c14.9,40.9,13.5,80.7-8.6,118.9c-8,13.8-19.1,24.8-33.3,32.3
                c-20.5,10.7-40,6.5-58.7-4.9c-2.5-1.5-4.8-3.4-7.7-5.5c-11.8,20.9-28,35.9-52.6,38.8c-23.3,2.7-44.5-3.4-64.2-16.4
                c-1.3,2.7-2.3,5.2-3.5,7.5c-16.1,31.8-46.8,42.6-81.2,28.1c-27.5-11.6-46.7-32.2-60-58.3c-12.1-23.8-17.8-49.4-14.7-76
                c3.5-30.2,21.6-53.4,48-60.3c10.6-2.8,20.8-0.9,31,2C195.3,379.5,197.7,380.3,200.1,381.1z M320.3,482.7
                c11.8-21,23.7-41.1,34.5-61.7c7.4-14.2,4.9-28.2-4.7-40.8c-9.7-12.7-26.5-16.8-39.7-9.4c-4.9,2.8-8.9,7.2-13.6,11
                c-9.1-5-19-6.3-29.1-1.4c-22.1,10.7-25.8,44.9-5.7,60.5C280.7,455.4,300.4,468.6,320.3,482.7z"/>
            <path d="M232.9,139.8c4.2,18.4,4.8,39.3-2.5,59.9c-7.7,21.9-21.2,38.3-44.6,44.8c-9.3,2.6-18.5,1.9-27.6-0.9
                c-26.4-7.9-46.4-24.3-60.8-47.5C78.1,164.9,70.1,131,77.8,94.8c4.8-22.5,17.3-40.2,39-50.2c12.1-5.6,24.6-5,37.1-1.6
                c26.7,7.3,45.6,24.5,60,47.5C222.9,104.8,228.8,120.5,232.9,139.8z"/>
            <path d="M393.9,120.1c0,18.8-4.3,39.4-16.1,57.8c-12.5,19.6-29.3,32.5-53.6,33.5c-9.7,0.4-18.4-2.4-26.6-7.1
                c-23.9-13.7-39.7-34.2-48.4-60.1c-11.8-34.8-11.9-69.6,3.9-103.2c9.7-20.8,26-35.2,49.4-40c13.1-2.7,25.1,0.7,36.5,6.9
                c24.4,13.2,38.9,34.3,47.6,59.9C392.1,83.8,394.3,100.4,393.9,120.1z"/>
            <path d="M540.4,191.6c5.9,29.6,3.2,58-13.1,83.9c-11.7,18.7-27.6,32.6-51.4,31.8c-19.6-0.7-35.1-10.4-47.5-25.3
                c-13-15.6-19.1-34-22.2-53.8c-4.2-26.5-0.7-51.8,13.1-75.1c5.6-9.4,12.7-17.5,21.6-23.9c19.4-13.9,39.2-11.5,58.6-0.3
                c16.5,9.5,27.1,24.3,33.8,41.9C536,177.6,538,184.6,540.4,191.6z"/>
            <path d="M138.6,295.3c3.4,15.9,4.7,34.5-0.5,53.1c-4.5,16.2-12.4,30.3-27.1,39.4c-14.8,9.3-30.6,11.1-46.7,3.5
                c-43-20.3-61.9-56-64.2-101.9c-0.8-15.2,2.8-29.8,8.5-43.8c12.5-30.6,50.6-42.6,78.7-24.5C113.7,238.1,131.2,261.6,138.6,295.3z"/>
            </svg>
            <h1>Animal Shelter</h1>
        </div>
        <h2>Adopt a pet and give them a home !</h2>
        <span class="spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>