mat-toolbar {
    background: #673AB7;
    color: #fff;
    font-weight: normal;
    
    mat-toolbar-row {
        justify-content: space-between;
        
        h1 {
            font-weight: normal;
            font-size: 2rem;
        }
    
        h2 {
            font-size: 1.6rem;
            font-style: italic;
            font-weight: normal;
            margin-left: 0;
        }
    
        #logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 33.3333%;

            svg {
                width: 40px;
                margin-right: 20px;
                margin-left: 15px;
                color: #fff;
            }
        }

        .spacer {
            display: block;
            width: 33.3333%;
        }
    }
}