<section id="pets_filters">
    <mat-form-field class="pets_search">
        <mat-label>Search a pet by name or age</mat-label>
        <input matInput (keyup)="onKeypressEvent($event)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Species</mat-label>
        <mat-select multiple (selectionChange)="onTypesChange($event)">
            <mat-option *ngFor="let type of types" [value]="type.id">{{type.attributes.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</section>

<section id="pets_list">
    <p *ngIf="filteredDatas.length === 0">Sorry, we couldn't find any results matching your request</p>

    <mat-card class="pet_card fadeIn animated fast" *ngFor="let pet of filteredDatas">
        <mat-card-header>
            <div>
                <mat-card-title>{{ pet.attributes.name }}</mat-card-title>
                <mat-card-subtitle>{{ pet.attributes.age }} months</mat-card-subtitle>
            </div>
            <p class="pet_type">{{ getTypeName(pet.attributes.type_id) }}</p>
        </mat-card-header>
        <img mat-card-image [src]="getPetImage(pet.attributes)">
        <mat-card-content>
            <p class="pet_bio">{{ pet.attributes.bio }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" class="adopt_button">Adopt me</button>
        </mat-card-actions>
    </mat-card>
</section>