#pets_filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    form > mat-form-field {
        margin: 0 20px;
    }
    
    .pets_search {
        width: 280px;
        margin-right: 30px;
        
        mat-icon {
            color: #9e77e4;
            top: 4px;
            position: relative;
        }
    }
}

#pets_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .pet_card {
        width: 300px;
        margin: 15px;
        position: relative;
        padding-bottom: 50px;

        img {
            width: 300px;
            height: 200px;
        }
        
        .mat-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 0;
        }

        .mat-card-header {
            .mat-card-title {
                margin-bottom: 12px;
                color: #673ab7;
                font-size: 1.8rem;
            }
            .mat-card-subtitle {
                font-style: italic;
                font-size: 1.3rem;
            }
        }

        > mat-card-header {
            margin: 0 -15px;
        }

        .pet_bio {
            color: #4b4b4b;
            font-size: 1.34rem;
        }

        .pet_type {
            background: lightgrey;
            border-radius: 50px;
            padding: 5px 16px;
            color: #434343;
        }

        .adopt_button {
            position: absolute;
            right: 20px;
            bottom: 15px;
            padding: 2px 20px;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
    }
}